.user {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    padding: 2rem;
  }

  &-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    @include respond(tab-land) {
      align-items: center;
    }
  }

  &-avatar {
    border-radius: 50%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-land) {
      justify-content: flex-start;
    }
  }

  &-img {
    width: 80%;
    border-radius: 50%;

    @include respond(tab-land) {
      width: 80%;
    }
  }

  &-description {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;

    @include respond(tab-land) {
      flex-basis: 95%;
    }
  }

  &-name,
  &-login {
    margin: 0;
    color: var(--color-text-1);
  }

  &-login {
    font-size: 2.2rem;
    color: var(--username-color);
    margin-bottom: 1.1rem;
  }

  &-name {
    margin-bottom: 1.1rem;
    font-size: 3rem;

    @include respond(phone-xs) {
      font-size: 2.6rem;
    }

    @include respond(phone) {
      font-size: 2.6rem;
    }
  }

  &-bio {
    /*    position: absolute;
        text-align: justify;
        top: 45%;
        left: 28%;*/
    color: var(--color-text-1);

    /*    @include respond(tab-land) {
          top: 60%;
          left: 17.2%;
        }

        @include respond(tab-port) {
          top: 60%;
          left: 22%;
          width: 76%;
          text-align: justify;
        }*/

    @include respond(phone) {
      position: absolute;
      /* top: 111%; */
      width: 100%;
      left: 50%;
      bottom: -5rem;
      text-align: center;
      transform: translate(-50%, 0);
    }
  }

  &-statistics {
    background: var(--bg-color);
    color: var(--color-text-1);
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

    &-count {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-number {
      font-weight: bold;
      font-size: 3rem;
      margin-top: .625rem;
    }


    @include respond(phone) {
      align-self: center;
      margin-top: 8rem;
      padding: 2rem;
    }

    @include respond(phone-xs) {
      padding: 1rem;
    }
  }

  &-contact,
  &-statistics {
    width: 73%;
    align-self: flex-end;

    @include respond(big-desktop) {
      width: 74%;
    }

    @include respond(tab-land) {
      width: 84%;
    }

    @include respond(tab-port) {
      width: 77%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-contact {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-text-1);

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &-social {
    flex-basis: 50%;
    margin-bottom: 3rem;

    &-icon {
      margin-right: 2rem;
    }
  }

  &-joinedat,
  &-bio {
    font-size: 2rem;
    color: var(--color-text-1);
  }

  &-joinedat {
    @include respond(phone-xs) {
      font-size: 1.7rem;
    }
  }
}