// COLORS
$primary-color: #f5f8ff;
$secondary-color: #141c2f;

$black-color: #1c1720;
$background-color: #f5f8ff;
$background-color-dark: #141c2f;

$text-color-blue: #0078fb;

$grey: #6b7688;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
